#sec1
{
  background-color: black;
  color: white;
  height: 500px;
  padding: 50px;
}
#sec2
{
  background-color: white;
  color: black;
  height: 500px;
  padding: 50px;
}
#sec3
{
  color: white;
  background-color: black;
  height: 500px;
  padding: 50px;
}
body
{
  position: relative;
}
#my-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#my-msg
{
  height: 250px;
  padding: 70px;
  text-align: center;
  background-color: white;
  color: black;
}
#soc-med
{
  text-align: center;
}
#git-icon
{
  font-size: 100px;
  color: #6e5494;
}
#insta-icon
{
  font-size: 100px;
  color: #ffc838;
}
#linkedin-icon
{
  font-size: 100px;
  color: #0077b5;
}
#quora-icon
{
  font-size: 100px;
  color: #a82400;
}
#slide-pics
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}